@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* your custom CSS below */

@theme {
  --font-playfair: Playfair Display, "sans-serif";
  --font-poppins-bold: 800;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Smooth horizontal momentum scroll on mobile */
.scroll-smooth {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* Fix huge images inside article */
.prose img,
.prose picture,
.prose figure,
.prose video {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
}

/* Fix videos (sometimes appear tiny or stretched) */
.prose iframe {
  width: 100% !important;
  height: auto !important;
}

/* Prevent text from squishing together on small screens */
.prose p {
  margin-bottom: 1rem;
  line-height: 1.7;
}
